.list-group-item {
    cursor: pointer;
    height: 50px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

      
}

.list-group-item:active {
    opacity: 0.5;
}

.mensaje {
    font-family: Vegur, 'PT Sans', Verdana, sans-serif;
    font-size: larger;
    justify-content: center;
    align-items: center;
    
}

.img {
    
        background-image: url(../assets/img/notas1.jpg);
        height: 800px; 
        max-width: 150%;
        position:relative;
        color: white;
        z-index:1;
  

}
