<div class="img">
<h2 class="alert alert-dark" role="alert" style="text-align: center;">Piano Online</h2>
<br>
<br>

<div  class="alert alert-dark" role="alert">
<div class="mensaje" style="text-align: center;">
<p>Empieza a crear tus propias melodias pulsando las teclas virtuales</p> 
<button type="button" class="btn btn-success" style="margin: 15px;" (click)="tocar()">Play</button>
<button type="button" class="btn btn-danger" (click)="parar()">Stop</button>
</div>
</div>
<br>
<br>

<div *ngIf="play" class="row">
  <div class="col-lg-4">
<div class="list-group">
    <a  (click)="aplicarSonido(1)" class="list-group-item list-group-item-action" style="background-color: black"></a>
    <a  (click)="aplicarSonido(2)" class="list-group-item list-group-item-action" style="background-color: white"></a>
    <a  (click)="aplicarSonido(3)" class="list-group-item list-group-item-action" style="background-color: black"></a>
    <a  (click)="aplicarSonido(4)" class="list-group-item list-group-item-action" style="background-color: white"></a>
    <a  (click)="aplicarSonido(5)" class="list-group-item list-group-item-action" style="background-color: black"></a>
    <a  (click)="aplicarSonido(6)" class="list-group-item list-group-item-action" style="background-color: white"></a>
    <a  (click)="aplicarSonido(7)" class="list-group-item list-group-item-action" style="background-color: black"></a>
</div>
  </div>
</div>
<div *ngIf="grabar" class="grabacion">
<div  class="alert alert-dark" role="alert">
  <div class="mensaje" style="text-align: center;">
  <p>Empieza a grabar la melodía</p> 
  <button type="button" id="empezar" class="btn btn-success" style="margin: 15px;" (click)="tocar()">grabar</button>
  <audio controls></audio>
  <button type="button" class="btn btn-danger" (click)="parar()">parar</button>
  </div>
  </div>
</div>

<div  *ngIf="ver" class="alert alert-dark" role="alert">
<div class="mensaje" style="text-align: center;">
  <button type="button" class="btn btn-secondary" style="margin: 15px;" (click)="tocar()">Melodias guardadas</button>
  </div>
  </div>
</div>

